
poppler==23.12.0
poppler-data==0.4.12
boto3==1.29.3
botocore==1.32.3

charset-normalizer==3.3.0

deta==1.2.0
extra-streamlit-components==0.1.60
faiss-cpu==1.7.4

langchain==0.0.305
langsmith==0.0.41

openai==0.28.1

pdf2image==1.16.3
pillow==10.0.1
protobuf==4.21.12

pypdf==3.16.4
pypdf2==3.0.1
python-dotenv==1.0.0

regex==2023.8.8
requests==2.31.0

st-annotated-text==4.0.1
st-files-connection==0.1.0
streamlit==1.27.1
streamlit-authenticator==0.2.3
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-embedcode==0.1.2
streamlit-extras==0.3.5
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2

tiktoken==0.5.1
